.statistics-body {
    padding: 20px;
    padding-top: 0px;
    margin: 20px;

    h2 {
        color: $app-black;
        font-size: 32px;
    }
}

.statistics-graph {
    width: 1000px;
    height: 600px;
}
